Desktop/
Documents/
Downloads/
Pictures/
VirtualBox VMs/
Workspace/

Android/
Applications/Vectr-linux64.zip
Applications/Vectr-linux64/
Applications/pycharm-professional-5.0.4/
Applications/robomongo-0.9.0-linux-x86_64-0786489.tar.gz
Applications/robomongo-0.9.0-linux-x86_64-0786489/
Applications/WebStorm-2016.3.3/
Applications/android-sdk/
Applications/android-studio-ide-145.3537739-linux.zip
Applications/android-studio-ide-145.3537739-linux/
Applications/idea-IC-163.12024.16/
Applications/pycharm-community-2016.3.2/
Applications/pycharm-professional-2016.3.2/
Applications/atom-1.5.4
Applications/csv-viewer
Applications/idea-IU-143.1821.5
Applications/PhpStorm-143.1770
Applications/VSCode-linux-x64
Applications/clion-1.2.4
Applications/idea-IC-143.1821.5
Applications/NVIDIA_CUDA-8.0_Samples
Applications/pycharm-community-5.0.4
Applications/Telegram
Applications/WebStorm-143.1559.5

.config/QtProject.conf
.config/RStudio/
.config/Skype/
.config/Thunar/
.config/Trolltech.conf
.config/Typora/
.config/VirtualBox/
.config/autostart/
.config/chromium/
.config/compiz-1/
.config/dconf/
.config/eog/
.config/evolution/
.config/gedit/
.config/gnome-control-center/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/
.config/libaccounts-glib/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/monitors.xml
.config/msec.it/
.config/nautilus/
.config/puddletag/
.config/pulse/
.config/redshift.conf
.config/spotify/
.config/spyder/
.config/sublime-text-3/
.config/texstudio/
.config/totem/
.config/ubuntu-amazon-default/
.config/ubuntu-ui-toolkit/
.config/unity/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/webbrowser-app/
.config/xfce4/
.config/thefuck/
.config/evince/accels
.config/evince/accels
.config/Brackets/
.config/emaildefaults
.config/kritarc
.config/Atom/
.config/configstore/
.config/midori/
.config/Paralect/
.config/Vectr/
.config/robomongo/
.config/mpv/watch_later/
.config/gpick/
.config/transmission/

.ionic/
.IntelliJIdea15/
.atom/
.node_repl_history
.npm/
.zcompdump
.zcompdump-iman-ThinkPad-Edge-E530-5.1.1
.zsh-update
.zsh_history
.zshrc
.Android/
.AndroidStudio2.2/
.IdeaIC2016.3/
.PyCharm2016.3/
.PyCharmCE2016.3/
.WebStorm2016.3/
.babel.json
.config/taskrc
.goldendict/
.gradle/
.gtkrc.bak
.task/
.taskrc
.v8flags.5.1.281.89.iman.json
.vim/
.vpnmakers
.wget-hsts
.PyCharm50/
.gimp-2.8/
.gstreamer-0.10/
.sqlite_history

.furiusisomount/
.gconf/
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.hplip/
.icons/
.ipython/
.java/
.jupyter/
.lesshst
.local/
.mozilla/
.mplayer/
.mylock.swp
.pam_environment
.pki/
.profile
.recently-used
.rstudio-desktop/
.ssh/
.sudo_as_admin_successful
.texmf-var/
.thumbnails/
.thunderbird/
.viminfo
.xinputrc
.xsession-errors
.xsession-errors.old
.dmrc
.eclipse/
.fehbg
.cache/
.chromium-bsu
.compiz/
.CLion12/
.FontForge/
.ICEauthority
.IdeaIC15/
.Rhistory
.Skype/
.TelegramDesktop/
.WebStorm11/
.Xauthority
.android/
.audacity-data/
.bash_history
.bash_logout

both-con-down.sh
both-con-up.sh

