Desktop/
Documents/
Downloads/
Pictures/
VirtualBox VMs/
Workspace/

Android/
Steam/

Applications/Vectr-linux64.zip
Applications/Vectr-linux64/
Applications/pycharm-professional-5.0.4/
Applications/robomongo-0.9.0-linux-x86_64-0786489.tar.gz
Applications/robomongo-0.9.0-linux-x86_64-0786489/
Applications/WebStorm-2016.3.3/
Applications/android-sdk/
Applications/android-studio-ide-145.3537739-linux.zip
Applications/android-studio-ide-145.3537739-linux/
Applications/idea-IC-163.12024.16/
Applications/pycharm-community-2016.3.2/
Applications/pycharm-professional-2016.3.2/
Applications/atom-1.5.4
Applications/csv-viewer
Applications/idea-IU-143.1821.5
Applications/PhpStorm-143.1770
Applications/VSCode-linux-x64
Applications/clion-1.2.4
Applications/idea-IC-143.1821.5
Applications/NVIDIA_CUDA-8.0_Samples
Applications/pycharm-community-5.0.4
Applications/Telegram
Applications/WebStorm-143.1559.5
Applications/PhpStorm-163.10504.2/
Applications/WebStorm-163.12024.17/
Applications/xkblayout-state/
Applications/android-studio/
Applications/genymotion-2.9.0-linux_x64.bin
Applications/genymotion/
Applications/pycharm-community-2017.1.4/

.ionic/
.IntelliJIdea15/
.atom/
.node_repl_history
.npm/
.Android/
.AndroidStudio2.2/
.IdeaIC2016.3/
.PyCharm2016.3/
.PyCharmCE2016.3/
.PyCharmCE2017.1/
.WebStorm2016.3/
.babel.json
.config/taskrc
.goldendict/
.gradle/
.gtkrc.bak
.task/
.vim/
.vpnmakers
.wget-hsts
.PyCharm50/
.gimp-2.8/
.gstreamer-0.10/
.sqlite_history
.furiusisomount/
.gconf/
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.hplip/
.icons/
.ipython/
.java/
.jupyter/
.lesshst
.local/
.mozilla/
.mplayer/
.mylock.swp
.pam_environment
.pki/
.profile
.recently-used
.rstudio-desktop/
.ssh/
.texmf-var/
.thumbnails/
.thunderbird/
.eclipse/
.fehbg
.cache/
.compiz/
.CLion12/
.FontForge/
.ICEauthority
.IdeaIC15/
.Rhistory
.Skype/
.TelegramDesktop/
.WebStorm11/
.Xauthority
.android/
.audacity-data/
.bash_history
.bash_logout
.PhpStorm2016.3/
.cordova/
.oracle_jre_usage/
.AndroidStudio2.3/
.Genymobile/
.crashlytics/
.vscode/
.envs/
.pulse-cookie
.python_history
.steam/
.dbus/

.steampath
.steampid
.v8flags.5.1.281.93.iman.json
.dmrc
.xsession-errors
.xsession-errors.old
.chromium-bsu
.viminfo
.xinputrc
.sudo_as_admin_successful
.taskrc
.v8flags.5.1.281.89.iman.json
.zcompdump
.zcompdump-iman-ThinkPad-Edge-E530-5.1.1
.zsh-update
.zsh_history
.zshrc

snap/

anbox-installer


*Cache*

.config/user-dirs.dirs
.config/user-dirs.locale

.config/chromium/

.config/sublime-text-3/Local/

.config/Slack/Local Storage/
.config/Slack/SS
.config/Slack/SingletonCookie
.config/Slack/SingletonLock
.config/Slack/dictionaries/
.config/Slack/logs/

.config/gpick/autosave.gpa
.config/gpick/user_init.lua